// Import Google fonts
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700|Work+Sans:400,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

// Define fonts for body and headers
$body-font: "Raleway", sans-serif;
$headers-font: "Raleway", sans-serif;
$poke-number-font: "Pixelify Sans", sans-serif;


// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";

h1, h2, h3, h4, h5 {
  font-weight: 600 !important;
  margin: 0 !important;
}
h1 {
  font-size: 1.75rem !important;
  letter-spacing: 1.2px;

  @media (min-width: 768px) {
    font-size: 2.5rem !important;
  }
}
