.banner {
  background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url("https://wallpaper.forfun.com/fetch/2d/2d5636e8aad345345c0d88bd7a0c4f27.jpeg?w=1470&r=0.5625&f=webp");
  background-size: cover;
  background-position: center;

  @media (min-width: 768px) {
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
