

.page_show{


  .pokemon_show_info{
    display: flex;
    flex-direction: column;
    gap: 10px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 2px;
    border-radius: 20px;
    max-width: 300px;
    max-height: 500px;
    margin-top: 30px;
    margin-left: 80px;
    background-color: white;


    .pokepikture{
      text-align: center;
    }
    .d-flex{
      flex-wrap: wrap
    }

    .type-tag{


      img{

        border-radius: 50px;
      }
    }

  }
  .card-body.p-3{
    text-align: center;
  }

.link-home{
  margin-left: 80px;
}

}

#constant-tilt-shake {
  animation: tilt-shaking 0.5s infinite;
}

@keyframes tilt-shaking {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(5deg); }
  50% { transform: rotate(0deg); }
  75% { transform: rotate(-5deg); }
  100% { transform: rotate(0deg); }
}
