.message-chat {
  .pokemon-response {
    p {
      padding-left: 16px;
      border-left: 1px #C7C7C7 solid;
      font-style: italic;
      color: #525252;
    }
    p:first-child {
      padding: 0 !important;
      border: none;
      color: black;
      font-style: initial;
      font-weight: 600;
      font-size: 1.1rem;
      font-weight: 500;
      margin-bottom: 8px !important;
    }
  }


}
.form-chat{
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
  background-color: rgb(244, 244, 244);

  @media (min-width: 768px) {
    width: 75%;
  }

  form div {
    flex-grow: 1;
    margin-bottom: 0 !important;
  }

  textarea {
    background-color: white;
  };

}
